@import "bootstrap/dist/css/bootstrap.min.css";

label {
    font-size: 12px !important;
    color: rgb(84, 105, 141);
    margin: 0px 0px 8px;
    line-height: inherit;
}

table {
    font-size: 14px !important;
}

.btn {
    font-size: 12px !important;
}

.btn-primary {
    background-color: rgb(0, 112, 210) !important;
}

.modal-body-success {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.success-icon {
    color: green;
    font-size: 80px;
    /* Adjust size as needed */
    margin-bottom: 10px;
}

.success-text {
    font-size: 24px;
    /* Text size */
    font-weight: bold;
    color: green;
}